@font-face {
    font-family: IranSanse;
    src: url(../../public/font/IRANSansWeb\ Persian\ UltraLight.woff) format("woff")
    , url(../../public/font/IRANSansWeb\ Persian\ UltraLight.eot) format("eot")
    , url(../../public/font/IRANSansWeb\ Persian\ UltraLight.ttf) format("ttf");
}
@font-face {
    font-family: IranSanseWeb;
    src: url(../../public/font/IRANSansWeb\ Persian\ Bold.woff) format("woff")
    , url(../../public/font/IRANSansWeb\ Persian\ Bold.eot) format("eot")
    , url(../../public/font/IRANSansWeb\ Persian\ Bold.ttf) format("ttf");
}
*{
    font-family: 'IranSanse';
}
#about{
    height: 60vh;
    width: 100%;
    background-color: #f1f1f1;
}
#about-title , #about-text{
    display: block;
    text-align: center;
    color: #21c6cb;
}
#about-text{
    margin-top: 20px;
}
#title-line{
    content: "";
    color: #21c6cb;
    width: 14%;
    height: 2px;
    border-radius: 5px;
    display: block;
    background-color: #21c6cb;
    margin: 0 auto;
    position: relative;
}
#title-line-circle{
    position: absolute;
    content: "";
    color: #21c6cb;
    background-color: #21c6cb;
    top: -5px;
    right: 45%;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
#about-top-box{
    padding-top: 15px;
}
#about-box{
    background-color: #21c5cb32;
    border-radius: 15px;
    width: 80%;
    height: 30vh;
    display: block;
    margin: 40px auto;
}
#bist{
    color: #21c6cb;
}
#about-box-title{
    padding-top: 10px;
    text-align: center;
}
.about-box-text{
    display: block;
    padding: 10px;
    color: #21c6cb;
    text-align: center;
    font-size: 12pt;
    font-family: 'IranSanseWeb';
}
/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes slide-top {
    0% {
        opacity: 0;
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
        opacity: 100;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }

  .about-box{
    animation-name: slide-top;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
  }
  .about-top-box{
    animation-name: slide-top;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 0s;
  }